@charset "utf-8";

:root {
  --main-color: #144333;
  --sub-color: #366756;
  --gray: #ccc;
  --text-color:#333;
  --padding:20px;
  --padding-top:10px;
  --tit-fz:24px;
  --sub-tit-fz:20px;
}

.con_tit { width: 100%; padding: var(--padding); display: flex; justify-content: start; align-items: center; position: fixed; background-color: #fff; box-sizing: border-box; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.con_tit h2 { font-size: var(--tit-fz); position: absolute; left: 50%; transform: translateX(-50%); margin-bottom: 5px; }
.seoul_exh1 { width: 100%; margin-top: 65px; }

.content { padding: var(--padding); }
.content h2 { display: none; }
.content div { display: flex; justify-content: space-between; align-items: start; font-weight: bold; margin-bottom: 30px; }
.title { font-size: var(--tit-fz);; }
.period { font-size: var(--sub-tit-fz); color: #999; margin-top: 5px; }
.period span { display: block; }
.period span::before { content: ""; display: inline-block; width: 30px; margin-bottom: 6px; border-top: 2px solid #999; }

.tab { display: flex; padding: 10px 0; }
.tab li a { font-size: 18px; font-weight: bold; color: #999; padding: 10px 30px 10px 10px; }
.tab li a.tab_on { color: var(--text-color); border-bottom: 2px solid #6A9888; }

#exh_info, #exh_resv { padding: 20px 10px; text-align: justify; }
#exh_info li { margin-bottom: 20px; }
#exh_info li span { font-weight: bold; margin-right: 20px; }

.content dl { margin-bottom: 15px; }
.content dl dt { margin-bottom: 5px; }
.content dl dt a { color: #999; font-weight: bold; }
.content dl dt a.selected { color: var(--sub-color); }

#exh_time { padding: 20px 0; }
#exh_time table { width: 100%; }
#exh_time caption { font-weight: bold; font-size: 18px; margin-bottom: 20px; color: var(--sub-color); }
#exh_time th, td { border: 1px solid #000; padding: 6px; text-align: center; }
#exh_time td { font-size: 14px; vertical-align: middle; }

#exh_data { padding: 20px 0; }
.pdf_btn a { border: 2px solid #333; background-color: #fff; padding: 10px 20px; border-radius: 100px; }
.pdf_btn a:hover { border-color: var(--sub-color); background-color: var(--sub-color); color: #fff; }

.reserve_btn { width: 85%; position: fixed; left: 50%; transform: translateX(-50%); bottom: 3%; display: flex; justify-content: space-between; }
.reserve_btn a { box-sizing: border-box; width: 49%; font-weight: bold; text-align: center; font-size: 18px; background-color: #ddd; padding: 10px 30px; border-radius: 100px; letter-spacing: 1px; }
.reserve_btn a:hover { background-color: var(--main-color); color: #fff; }