@charset "utf-8";

:root {
  --main-color: #144333;
  --tit-fz:24px;
}

.search { width: 100%; padding: 30px 20px; box-sizing: border-box; overflow: hidden; }
.area_w { display: flex; align-items: center; margin-bottom: 10px; }
.area_w label { font-size: var(--tit-fz); font-weight: bold; /* margin-bottom: 10px; */ }
#area { font-size: calc(var(--tit-fz) - 2px ); font-weight: bold; text-align: center; border: none; outline: none; cursor: pointer; }
.date_w { text-align: center; display: flex; justify-content: space-between; align-items: center; }
.date { font: 1em sans-serif; width: 43%; text-indent: 3px; }
.search_icn { font-size: 18px; color: #fff; background-color: var(--main-color); padding: 7px; border-radius: 5px; }

.exh_list { width: 100%; display: grid; grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); }
.exh_list article { position: relative; overflow: hidden; }
.exh_list article h2 { display: none; }
.exh_list article img { width: 100%; vertical-align: top;  }
.exh_list article div a { width: 100%; height: 100%; padding: 10px; box-sizing: border-box; position: absolute; inset: 0; background-color: rgba(0, 0, 0, 0.35); backdrop-filter: blur(8px); color: #fff; display: none; }
.exh_list article div p { margin: clamp(20px, 3vw, 100px); }

.exh_tit { font-size: clamp(1.3rem, 3vw, 4.2rem); }
.exh_info { font-size: clamp(1rem, 3vw, 2.2rem); text-align: justify; }
.exh_date { font-size: clamp(0.8rem, 3vw, 2rem); }
.fa-long-arrow-alt-right { display: block; position: absolute; right: 10%; bottom: 10%; font-size: clamp(1.2rem, 3vw, 3rem); }