@charset "utf-8";

:root {
  --main-color: #144333;
  --gray: #ccc;
  --text-color:#333;
  --padding:20px;
  --padding-top:10px;
  --tit-fz:24px;
  --sub-tit-fz:20px;
}

/* reset */
a { text-decoration: none; color: inherit; }
body { min-width: 320px; font: normal 16px sans-serif; color: var(--text-color); }
html, body { width: 100%; height: 100%; overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }

/* fontawesome */
.icon { font-size: var(--tit-fz); }
.white { color: #fff; }
.black { color: var(--text-color); }
.green { color: var(--main-color); font-size: 30px; }

/* top */
#top { background-color: #fff; width: 100%; padding: var(--padding); box-sizing: border-box; display: flex; /* justify-content: space-between; */ align-items: center; position: fixed; left: 0; top: 0; z-index: 999999; }
.menu_icon { position: absolute; right: 20px; }
#top h1 { width: 150px; height: 30px; }
#top h1 img { width: 100%; }

/* container */
#container { margin-top: 70px; box-sizing: border-box; overflow: hidden; }

/* menu_wrap */
#menu_wrap { background-color: var(--main-color); color: #fff; width: 100%; height: 100%; padding: 20px; box-sizing: border-box; position: fixed; right: -100%; z-index: 9999999; }
.menu_close { position: absolute; right: 20px; top: 23px; }

#gnb { padding: 30px; box-sizing: border-box; }
#gnb ul li { line-height: 2.5em; }
#gnb ul li a { font-weight: bold; font-size: var(--tit-fz); display: block; }
#gnb ul li a:hover { color: var(--gray); }

#gnb .submenu { display: none; }
#gnb .submenu li { text-indent: 1.5em; /* line-height: 2em; */ }
#gnb .submenu li a { font-size: 18px; }
#gnb .submenu li a.selected { color: var(--gray); }

.quick_menu { position: absolute; left: 20px; bottom: 20px; padding: 30px; box-sizing: border-box; }
.quick_menu li { line-height: 2.5em; }
.quick_menu li a { font-weight: bold; font-size: var(--sub-tit-fz); }
.quick_menu li a:hover { color: var(--gray); }

/* bottom */
#bottom { background-color: #f3f2f3; padding: var(--padding); box-sizing: border-box; font-size: 14px; }
#bottom h3 { width: 130px; }
#bottom h3 img { width: 100%; }

.fnb { line-height: 2em; margin: 10px 0; display: flex; }
.fnb li { width: 50%; white-space: nowrap; }
.sns { display: flex; gap: 10px; padding-bottom: var(--padding-top); border-bottom: 1px solid var(--gray); }
.fnb_info { padding-top: var(--padding-top); }

.top_btn { position: fixed; right: 10px; bottom: 10px; }