@charset "utf-8";

:root {
  --main-color: #144333;
  --gray: #ccc;
  --text-color:#333;
  --padding:20px;
  --padding-top:10px;
  --tit-fz:24px;
  --sub-tit-fz:20px;
}

/* container */
#container section { width: 100%; height: 20vh; line-height: 20vh; text-align: center; position: relative; transition: 0.3s ease-out; }
#container section:hover { transform: scale(1.03); }
#container section::before { content:""; position: absolute; inset: 0; background-color: rgba(255, 255, 255, 0.3); }
#container section:hover::before { background-color: rgba(0, 0, 0, 0.2); }#container section h2 { position: relative; z-index: 1; }
#container section h2 a { display: block; font-size: var(--tit-fz); }
#container section h2 a:hover { color: #000; }

.mmca_area1 { background: url("../image/mmca_seoul.png") no-repeat center/cover; }
.mmca_area2 { background: url("../image/mmca_gwacheon.png") no-repeat center/cover; }
.mmca_area3 { background: url("../image/mmca_deoksugung.png") no-repeat center/cover; }
.mmca_area4 { background: url("../image/mmca_cheongju.png") no-repeat center/cover; }
.mmca_area5 { background: url("../image/mmca_child.png") no-repeat center/cover; }
