@charset "utf-8";

:root {
  --main-color: #144333;
  --gray: #ccc;
  --text-color:#333;
  --padding:20px;
  --padding-top:10px;
  --tit-fz:24px;
  --sub-tit-fz:20px;
}

/* container */
.area_menu ul { width: 100%; }
.area_menu ul li { width: 100%; height: 20vh; line-height: 20vh; text-align: center; position: relative; transition: all 0.3s ease-out; }
.area_menu ul li::before { content:""; position: absolute; inset: 0; background-color: rgba(255, 255, 255, 0.3); }
.area_menu ul li:hover { transform: scale(1.03); }
.area_menu ul li:hover::before { background-color: rgba(0, 0, 0, 0.2); }
.area_menu ul li a { display: block; font-size: var(--tit-fz); font-weight: bold; position: relative; }
.area_menu ul li a:hover { color: #000; }

.mmca_area1 { background: url("../image/mmca_seoul.png") no-repeat center/cover; }
.mmca_area2 { background: url("../image/mmca_gwacheon.png") no-repeat center/cover; }
.mmca_area3 { background: url("../image/mmca_deoksugung.png") no-repeat center/cover; }
.mmca_area4 { background: url("../image/mmca_cheongju.png") no-repeat center/cover; }
.mmca_area5 { background: url("../image/mmca_child.png") no-repeat center/cover; }
