@charset "utf-8";

#wrap { width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; }
#wrap h1 { margin-bottom: 50px; }
#wrap h1 img { width: 50px; }
.login input { display: block; margin: 10px auto; width: 400px; padding: 15px; box-sizing: border-box; font-size: 16px; border-radius: 100px; border: 1px solid #999; text-indent: 1em; }

.chk { margin-bottom: 10px; text-align: center; }
.chk label { margin-right: 10px; }

.login_btn { margin-bottom: 10px; }
.login_btn button { width: 400px; background-color: #f3f2f3; outline: none; border: none; border-radius: 100px; padding: 12px; font-size: 16px; cursor: pointer; letter-spacing: 1px; }
.login_btn button:hover { background-color: #144333; color: #fff; font-weight: bold; }

.add_s a { margin: 0 10px; }
.add_s a:hover { text-decoration: underline; }

.sns_login { display: flex; margin-top: 30px; justify-content: center; gap: 15px; }
.sns_login img { width: 35px; }