@charset "utf-8";

:root {
  --main-color: #144333;
  --sub-color: #366756;
  --gray: #ccc;
  --text-color:#333;
  --padding:20px;
  --padding-top:10px;
  --tit-fz:24px;
  --sub-tit-fz:20px;
}

.resv_con { margin-top: 70px; }
.resv_con h2 { font-size: 20px; text-align: center; padding: 10px; border-bottom: 1px solid #999; }
.resv_con h3 { margin-bottom: 10px; font-size: 18px; }
.resv_con input { font-size: 16px; }
.resv_con > div { padding: 10px 20px; border-bottom: 1px solid #999; }

.resv_date { box-sizing: border-box; }
.resv_date input { font-family: sans-serif; border: none; outline: none; width: 100%; text-align: start; }

.resv_info input { text-indent: 1em; width: 100%; padding: 10px; box-sizing: border-box; margin-bottom: 10px; border-radius: 100px; border: 1px solid #999; }
.resv_info input:last-of-type { width: 65%; }
.resv_info button { border: none; width: 34%; padding: 8px 10px; font-size: 16px; color: #333; border-radius: 100px; cursor: pointer; font-weight: bold; }
.resv_info button:hover { background-color: var(--sub-color); color: #fff; }

.resv_detail { position: relative; }
.resv_detail div p { border: 1px solid #999; padding: 5px 20px; border-radius: 100px; }
.resv_detail div:last-child p { width: 210px; background-color: rgba(0, 0, 0, 0.6); color: #fff; padding: 10px; border-radius: 10px; text-align: justify; font-size: 14px; position: absolute; left: 115px; bottom: 35px; display: none; /* visibility: hidden; transition: all 0.3s; opacity: 0; */ }
/* .resv_detail dl dt:hover + dd { visibility: visible; opacity: 1; } */
.resv_detail .price { border: none; position: absolute; right: 120px; }
.resv_detail .num_btn { padding: 5px 10px; display: flex; align-items: center; }
.minus_icn, .plus_icn { margin: 0 20px; font-size: 10px; cursor: pointer; }
.adult, .free { position: relative; display: flex; justify-content: space-between; align-items: center; margin: 10px 0; }
.info_icn { position: absolute; left: 95px; bottom: 30px; color: var(--sub-color); }

.free a { order: -9999999; }

.total_pay { height: 40px; display: flex; justify-content: space-between; align-items: center; font-weight: bold; background-color: var(--sub-color); color: #fff; }

.pay_btn { width: 100%; }
.pay_btn a { width: 80%; position: fixed; left: 50%; transform: translateX(-50%); bottom: 3%; font-weight: bold; text-align: center; font-size: 18px; background-color: #ddd; padding: 10px 30px; border-radius: 100px; letter-spacing: 1px; }
.pay_btn a:hover { background-color: var(--main-color); border-color: var(--main-color); color: #fff; }